@import "tailwindcss";

body {
    font-family: var(--font-bebas-neue), sans-serif;  
    margin: 0;
    padding: 0;    
}

h1, h2, h3 {
    margin-top: 0;
    letter-spacing: 0.05em;     
    line-height: 1.1; 
}
.banner{
  font-size: 120px;
  letter-spacing: 0.1em;     
  line-height: 1.1; 
}
h1 {
    font-size: 72px;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 24px;
}

.title {
    color: #252525;
    font-size: 20px;
    letter-spacing: 0.1em;
}

@keyframes chomp {
  from {
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%, 50% 50%);
  }
  to {
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%, 100% 100%);
  }
}

      
  @keyframes moveAlongRoad {
    from {
      offset-distance: 0%;
    }
    to {
      offset-distance: 100%;
    }
  }

  .offset-pacman {
    position: absolute;
    width: 0;
    height: 0;
    border: solid 16px;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    transform: translate(-16px, -16px);
  }

  .offset-pacman::before,
  .offset-pacman::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: solid 16px yellow;
    border-radius: 50%;
    left: -16px;
    top: -16px;
    border-right-color: transparent;
  }

  .offset-pacman::before {
    border-bottom-color: transparent;
    animation: pacTop 0.45s infinite linear;
  }

  .offset-pacman::after {
    border-top-color: transparent;
    animation: pacBottom 0.45s infinite linear;
  }

  @keyframes pacTop {
    50% {
      transform: rotate(44deg);
    }
  }

  @keyframes pacBottom {
    50% {
      transform: rotate(-44deg);
    }
  }

  .ghost-body {
    position: relative;
    width: 50px;
    height: 60px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    margin-top: -30px;
    clip-path: polygon(
      0 0, 100% 0, 100% 80%,
      0 80%, 0 100%, 25% 80%,
      50% 100%, 25% 0%, 50% 100%,
      70% 80%, 60% 100%, 70% 80%,
      100% 100%, 100% 80%,
      0 80%
    );
  }

  .ghost-eyes {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .ghost-eye {
    position: absolute;
    background: white;
    height: 20px;
    width: 16px;
    border-radius: 100%;
    top: 12px;
  }

  .ghost-eye.left { left: 6px; }
  .ghost-eye.right { left: 28px; }

  .ghost-pupils .ghost-pupil {
    position: absolute;
    background: blue;
    height: 8px;
    width: 8px;
    border-radius: 100%;
    top: 20px;
  }

  .ghost-pupil.left { left: 10px; animation: peeperLeft 0.7s linear infinite; }
  .ghost-pupil.right { left: 32px; animation: peeperRight 0.7s linear infinite; }

  @keyframes peeperLeft { 0%,100% { left: 10px; } 50% { left: 14px; } }
  @keyframes peeperRight { 0%,100% { left: 32px; } 50% { left: 36px; } }
      